<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GestGym.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <GestGym.Settings>
            <setting name="MyLocationX" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MyLocationY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MyMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MyWidth" serializeAs="String">
                <value>1000</value>
            </setting>
			<setting name="MyHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MyTheme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="SQLServerName" serializeAs="String">
                <value>HMSV-SQL01</value>
            </setting>
            <setting name="SQLServerDBName" serializeAs="String">
                <value>GestGym</value>
            </setting>
            <setting name="SQLAccount" serializeAs="String">
                <value>GestGym_ADM</value>
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value>YQISl2clkPFVA*p%HhpR*5J5</value>
            </setting>
	        <setting name="RunNumber" serializeAs="String">
		        <value>0</value>
	        </setting>
        </GestGym.Settings>
    </userSettings>
    <connectionStrings>
        <add name="GestGymDB" connectionString="Data Source=HMSV-SQL01;Initial Catalog=GestGym;Integrated Security=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>